services:
  cometbft:
    image: {{ cometbft_docker_image }}
    container_name: "cometbft-{{ cometbft_role }}"
    restart: {{ cometbft_docker_restart }}
    network_mode: "{{ cometbft_docker_network_mode }}"

    volumes:
      - "{{ cometbft_home }}:/cometbft"

    environment:
      - CMTHOME=/cometbft

    command:
      - "node"
      - "--proxy_app={{ cometbft_proxy_app }}"
